.receipt-container{
    width: 100%;
    height: 110px;
    line-height: 30px;
    border-bottom: 1px solid gray;
    color: #333;
    border-radius: 10px;
    margin: 8px 0;
    background-color:rgba(158, 158, 158, 0.219);
    padding:10px 0;
}

.receipt-line{
    margin: 0;              /* 这个会继承 ！！！*/
    margin-left: 25px;
    height:30px;
    line-height: 30px;
}
